@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Liberation Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
}
  ::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}